.experience-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1rem 1rem;
}

.experience-heading {
  font-size: 56px;
  font-weight: 600;
}

.experience-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.experience-container > * {
  flex: 1;
}
.header-title {
  position: relative;
  padding-bottom: 25px;
  width: fit-content;
}
.header-title h1 {
  font-family: caveat;
}
.kQiChz {
  position: relative;
  left: 0px;
  bottom: 28px;
  z-index: -1;
  min-width: calc(100% + 7px);
  height: 7px;
}
.dgrCFv {
    display: block;
    overflow: visible;
}
.dgrCFv path {
    vector-effect: non-scaling-stroke;
    stroke: var(--stroke-color, hsl(250deg 80% 80% / 0.85));
}
/* Media Query */

@media (max-width: 1380px) {
  .experience-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .experience-heading {
    font-size: 30px;
    text-align: center;
  }
}
