@import "../../_globalColor";
$gap-large: 2.5rem;
$gap-small: 1rem;
$min-block-width: 250px;
$fontw-medium: 500;

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline > i {
  color: $subTitle;
}

.software-skill-inline > i:hover {
  color: $skillsColor;
}
.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
}
.software-skill-inline > i:hover ~ p {
  color: $skillsColor;
}


.skills-categories {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-large;
  margin-bottom: 50px;

  .skill-block {
    flex: 1 1 $min-block-width;

    h3 {
      font-weight: $fontw-medium;
      margin-bottom: $gap-small;
    }

    .skill-icons {
      display: flex;
      flex-wrap: wrap;
      gap: $gap-small;

      .skill-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
          width: 40px; // adjust size if needed
          height: 40px;
          margin-bottom: 0.25rem;
        }

        span {
          font-size: 0.9rem;
        }
      }
    }
  }
}
