@import "../../_globalColor";

.achievement-main-div {
  width: 100%;
  overflow: visible;
}

.achievement-swiper {
  width: 100%;
  overflow: hidden;
}

.achievement-swiper {
  width: 100%;
}

.achievement-swiper .swiper-wrapper {
  display: flex !important;
  flex-direction: row !important;
}

.achievement-swiper .swiper-slide {
  flex-shrink: 0 !important;
}

.achievement-heading {
  font-family: caveat;
  font-size: 56px;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.achievement-subtitle {
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 50px;
}
.subTitle {
  color: $subTitle;
}

/* Media Query */
@media (max-width: 1380px) {
  .achievement-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .achievement-heading {
    font-size: 30px;
    text-align: center;
  }
  .achievement-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
}
