@font-face {
  font-family: 'Macan';
  /* src: url('./assets/fonts/MacanPanWeb-Regular.woff2') format('woff2'); */
  src: url('./assets/fonts/macan-light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Macan';
  /* src: url('./assets/fonts/MacanPanWeb-Regular.woff2') format('woff2'); */
  src: url('./assets/fonts/macan-regular.woff') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Macan';
  /* src: url('./assets/fonts/MacanPanWeb-Medium.woff2') format('woff2'); */
  src: url('./assets/fonts/macan-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: medium;
  font-display: swap;
}
@font-face {
  font-family: 'Macan';
  /* src: url('./assets/fonts/MacanPanWeb-Semibold.woff2') format('woff2'); */
  src: url('./assets/fonts/macan-bold.woff2') format('woff2');
  font-weight: 600;
  font-style: 'semibold';
  font-display: swap;
}
@font-face {
  font-family: 'Macan';
  /* src: url('./assets/fonts/MacanPanWeb-Semibold.woff2') format('woff2'); */
  src: url('./assets/fonts/macan-light.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("./assets/fonts/Agustina.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("woff");
  font-display: swap;
}
.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font: 19px / 23px Macan, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Media Query */
@media (max-width: 1380px) {
  html,
  body {
    font-size: rem;
    line-height: normal;
  }
}
